@font-face
{
	font-family: "Empires";
	src: url("fonts/Empires.otf");
}

@font-face
{
	font-family: "WallHunterDemo";
	src: url("fonts/WallHunterDemo.ttf");
}

@font-face
{
	font-family: "Jacksilver";
	src: url("fonts/Jacksilver.ttf");
}

@font-face
{
	font-family: "SisterSpray";
	src: url("fonts/SisterSpray.ttf");
}

@font-face
{
	font-family: "Dolce Vita";
	src: url("fonts/Dolce Vita.ttf");
}

@font-face
{
	font-family: "Dolce Vita Heavy Bold";
	src: url("fonts/Dolce Vita Heavy Bold.ttf");
}

@font-face
{
	font-family: "GeosansLight";
	src: url("fonts/GeosansLight.ttf");
}

@font-face
{
	font-family: "Simple Print";
	src: url("fonts/Simple Print.ttf");
}

@font-face
{
	font-family: "VCR_OSD_MONO_1.001";
	src: url("fonts/VCR_OSD_MONO_1.001.ttf");
}