#picture1
{
	background-color: blueviolet;
	font-family: "WallHunterDemo";
	text-align: center;
	font-size: 75px;
	color: white;
	text-shadow: 5px 5px 5px #444;
	width: relative;
	background-image: url("images/keso.png");
}

#companyName
{
	font-size: 50px;
	font-family: "Arial";
}