body
{
	font-family: "Arial";
	font-size: 18;
	border: solid red 0px;
}

#main
{
	margin: 0 auto;
	width: 75%;
	max-width: 800px;
	box-sizing: border-box;
}

#poenis img
{
	object-fit: contain;
	max-height: 90vh;
	box-shadow: 0px 0px rgba(0,0,0,0.80);
	border: solid black 0px;
	margin-bottom: 0px;
	margin-top: 30px;
	background-color: transparent;
}

.content-box
{
	box-shadow: 2px 2px rgba(0,0,0,0.80);
	border: solid black 1px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 5px;
	background-color: transparent;
}

.art
{
	border: solid black 0px;
	box-shadow: 2px 2px rgba(0,0,0,0.80);
	width: 100%;
	background-color: transparent;
	
}
.art:hover
{
	cursor: pointer;
}

#background
{
	z-index:-1;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: white;
}

#back_btn
{
	max-width: 50vh;
	margin: 0px;
	background-color: white;
}
#back_btn:hover
{
	opacity: 0.85;
	border: solid Violet 2px;
	cursor: pointer;
}
#art_img
{
	width: 95%;
	margin: 0px;
}
#cur_img
{
	z-index:-2;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.4);
}

#logo
{
	font-family: "Arial";
	font-size: 18px;
	text-align: center;
}

#mlink,
#mlink:visited
{
    text-decoration: none;
    color: black;
}
    
#mlink:hover
{
    color: Violet;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.column img:hover {
	opacity: 0.85;
	border: solid Violet 2px;
}