/* Main body and all that shit */
body, html
{
	height: 100%;
}


/* code that is here, until the first @media block, will apply to any screen size */
.top-menu{
	height: 100px;
	margin-top:0px;
	width: 100%;
	position: fixed;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
    background: #cce5ff;
	background-color: rgb(255, 0, 128);
	font-size: 80px;
	font-family: Verdana, Geneva, sans-serif;
	color: aqua;
	border: thick solid rgb(0, 0, 0);
}


/*
SIDE MENU STUFF
*/
.side-menu {
	height: 100%;
	margin-top:120px;
	width: 170px;
	position: fixed;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
    background: #cce5ff;
	background-color: rgb(0,200,50);
	border: thick solid rgb(0, 0, 0);
}

.side-menu .button {
	width: 170px;
	height:102px;
	background-color: rgb(34, 255, 0);
	border: none;
	color: white;
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: thick solid rgb(0, 0, 0);
}

.side-menu .button:hover {
    background-color: #3535E4;
}




/* BAck ground bullshit */
.parallax 
{
	/* The image used */
	background-image: url('background_img.jpg');

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Introduction box*/
.TextBox
{
	height: relative;
	margin-top:25px;
	margin-left:200px;
	width: 750px;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgb(255, 255, 255);
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	color: rgb(0, 0, 0);
}

#Top-Title
{
	height: 100px;
	margin-top:120px;
	margin-left:175px;
	width: 100%;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgb(255, 0, 128);
	font-size: 80px;
	font-family: Verdana, Geneva, sans-serif;
	color: aqua;
	border: thick solid rgb(0, 0, 0);
}
.Title
{
	height: 100px;
	margin-top:25px;
	margin-left:175px;
	width: 100%;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgb(255, 0, 128);
	font-size: 80px;
	font-family: Verdana, Geneva, sans-serif;
	color: aqua;
	border: thick solid rgb(0, 0, 0);
}


/* comes into effect for screens less than or equal to 320 pixels */
@media screen and (max-width: 320px)
{
	.top-menu
	{
		height: 100px;
		margin-top:0px;
		font-size: 35px;
	}
	/*
	SIDE MENU STUFF
	*/
	.side-menu {
		height: 100%;
		margin-top:70px;
		width: 100px;
	}

	.side-menu .button {
		width: 170px;
		height:102px;
		background-color: rgb(34, 255, 0);
		border: none;
		color: white;
		font-size: 25px;
		font-family: Verdana, Geneva, sans-serif;
		padding-right: 40px;
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: thick solid rgb(0, 0, 0);
	}

	.side-menu .button:hover {
		background-color: #3535E4;
	}
}

/* comes into effect for screens between 321 and 480 pixels (inclusive) */
@media screen and (min-width: 321px) and (max-width: 480px) 
{
	.top-menu
	{
		height: 50px;
		margin-top:0px;
		font-size: 35px;
	}

	#Top-Title
	{
		height: 50px;
		margin-top:70px;
		margin-left:125px;
		font-size: 30px;
	}

	/*
	SIDE MENU STUFF
	*/
	.side-menu {
		height: 100%;
		margin-top:70px;
		width: 100px;
	}

	.side-menu .button {
		width: 175px;
		height:50px;
		background-color: rgb(34, 255, 0);
		border: none;
		color: white;
		font-size: 25px;
		font-family: Verdana, Geneva, sans-serif;
		padding-left: 10px;
		padding-right: 100px;
		padding-bottom: 0px;
		padding-top: 0px;
		border-bottom: thick solid rgb(0, 0, 0);
	}

	.side-menu .button:hover {
		background-color: #3535E4;
	}
}


