/* Main body and all that shit */
body, html
{
	height: 100%;
}


/* code that is here, until the first @media block, will apply to any screen size */
.top-menu{
	height: 100px;
	margin-top:0px;
	width: 100%;
	position: fixed;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
    background: #cce5ff;
	background-color: rgb(255, 0, 128);
	font-size: 80px;
	font-family: Verdana, Geneva, sans-serif;
	color: aqua;
	border: thick solid rgb(0, 0, 0);
}


/*
SIDE MENU STUFF
*/
.side-menu {
	height: 100%;
	margin-top:120px;
	width: 170px;
	position: fixed;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
    background: #005ec3;
	background-color: rgba(255, 0, 0, 0.605);
	border: thick solid rgb(0, 0, 0);
}

.side-menu .button {
	width: 170px;
	height:104px;
	background-color: rgb(255, 0, 128);
	border: none;
	color: aqua;
	font-size: 40px;
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 5px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: thick solid rgb(0, 0, 0);
}

.side-menu .button:hover {
    background-color: rgb(0, 255, 238);
}


/* BAck ground bullshit */
.parallax 
{
	/* The image used */
    background:rgba(255,255,255,0.5);
    background-image: url('background_img.jpg');
    height: relative; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
    /* Create the parallax scrolling effect */
    height:400%;
    padding-top:10px;
}

.parallax-curtain{
  height:100px
}

/* Introduction box*/
.TextBox
{
	height: relative;
	margin-top:10px;
	margin-left:200px;
	padding: 5px;
	width: 75vh;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgba(255, 0, 0, 0.605);
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	color: rgb(0, 0, 0);
	border: thick solid rgb(0, 0, 0);
}

.SkillBox
{
	height: relative;
	margin-top:10px;
	margin-left:200px;
	padding: 5px;
	width: 75vh;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgba(255, 0, 0, 0.605);
	font-size: 50px;
	font-family: Verdana, Geneva, sans-serif;
	color: rgb(0, 0, 0);
	border: thick solid rgb(0, 0, 0);
}

#Top-Title
{
	height: 100px;
	margin-top:103px;
	margin-left:200px;
	padding: 5px;
	width: 75vh;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgb(255, 0, 128);
	font-size: 80px;
	font-family: Verdana, Geneva, sans-serif;
	color: aqua;
	border: thick solid rgb(0, 0, 0);
}
.Title
{
	height: 100px;
	margin-top:10px;
	margin-left:200px;
	padding: 5px;
	width: 75vh;
	z-index: 1;
    top: 0;
	overflow-x: hidden;
	background-color: rgb(255, 0, 128);
	font-size: 80px;
	font-family: Verdana, Geneva, sans-serif;
	color: aqua;
	border: thick solid rgb(0, 0, 0);
}